.blanc {
	color: #E6E5E4
}
.gris1 {
	color: #9D9593
}
.gris2 {
	color: #534E4D
}
.noir {
	color: #121111
}
.jaune {
	color: #FFB820
}
.orange {
	color: #F9704C
}
.rose {
	color: #F22778
}
.violet1 {
	color: #AF1A7C
}
.violet2 {
	color: #6B0C7F
}


html {
	overflow-x: hidden;
  }

.miriam-libre-regular {
	font-family: "Miriam Libre", sans-serif;
	font-weight: 400;
	font-style: normal;
}
  
.miriam-libre-bold {
	font-family: "Miriam Libre", sans-serif;
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: 'Miriam Libre', sans-serif;
	color: #121111;
	background: #383838;
	overflow: hidden;
	
	/*background-image: linear-gradient(to bottom right, #005853, #001816);*/
	/*background: linear-gradient(-30deg, #012220, #012220 75%, #04453a 75%  #04453a 100%);*/
	background: #9D9593;
	background-repeat:unset;
	background-position: -450px -850px;
	background-size: 300% 300%;
}

/*
###################################################################################################
###################################################################################################
###################################################################################################
###################################################################################################
*/

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.h-line2 {
	border: 0;
	height: 3px;
	background-image: linear-gradient(to right, rgba(0, 80, 92, 0.75), rgba(0, 80, 92, 0.7), rgba(0, 0, 0, 0));
	margin-top: 40px;
	margin-bottom: 40px;
}

.h-line {
	margin-top: 40px;
	margin-bottom: 40px;
}

.big-h-line {
	margin-top: 40px;
	margin-bottom: 40px;
	height: 7px;
}

h1, h2, h3, h4 {
	font-family: 'Miriam Libre', monospace;
}

iframe {
	width: 423px;
    height: 237px;
    display:inline-block;
    margin-left:15px;
	border-radius: 20px;
}


li {
	font-family: 'Miriam Libre', monospace;
	font-size: large;
	padding-top: 10px;
}

.li-long {
	font:  1.0em "Miriam Libre", sans-serif;
	font-size: large;
	padding-top: 10px;
	margin-bottom: 15px;
}


.container {
	max-width: 85%;
	margin: 0 auto;
}

.container > div {
	margin: 20px auto;
}

.intro {
	text-align: center;
	display: flex;
	width:100%;
}

.intro-child-im {
	flex:0.4;
	border:10 solid rgb(0, 0, 0);
	margin:10px;
	transform: scale(1.0);
	transition: transform 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;

}


.intro-child-text { 
	flex:1;
	border:10 solid black;
	margin:10px;
}

.intro-child-links {
	flex:0.3;
	border:10 solid black;
	margin-right: 10px;
}
  

.intro-secundary {
	text-align: center;
}

.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}


.about-list {
	list-style: none;
	padding: 0;
}

.hscrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
  }

.itchgame {
	display: flex;
}

.hscrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
.hscrollmenu a:hover {
	background-color: #777;
  }

  .scrollable-element {
	scrollbar-color: dark;
  }

.projects-heading {
	text-align: center;	
}


.links-list {
	list-style: none;
	padding: 0;
}

.intro-tab {
	text-align:left;
	display: flex;
	width:100%;
	margin-top: 20px;
}

.links-and-contact {
	grid-template-columns: 100%;
	display: flex;
	width: 100%;
}

.links {
	justify-self: center;
	text-align: center;
	flex:1.0;
	margin-left: 5%;
	position: relative;
	scale: 1;
	z-index: 0;
	transition: transform 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	background-color: #00000000;
  }
  

button {
	color: #F9704C;
	flex: 1;
	min-height: 60px;
	border: 0px;
	border-radius: 10px;
	background-color: #6B0C7F;
	text-align: center;
}

button:hover {
	color: #FFB820;
	cursor: pointer;
	background-color: #AF1A7C;
	text-decoration: underline;

  }

p {
	position: relative;
	scale: 1;
	z-index: 0;
	transition: transform 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	background-color: #00000000;
	margin: 25px;
	font:  1.0em 
  }

/*

p:hover {
	z-index: 999;
	transform: 
		scale(1.1);
	background-color: #00000015;
	border-radius: 20px;
  }
  
*/

.grp-cards {
	text-align: left;
}

  .z-text {
	padding: 7%;
	position: relative;
	scale: 1;
	z-index: 0;
	transition: transform 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	background-color: #00000000;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
  }
/* 
.z-text:hover {
	z-index: 999;
	transform: scale(1.1);
	background-color: #000000ae;
	border-radius: 50px;
  } */



/*
############################################################################################################
############################################################################################################
############################################################################################################
*/

.image{
	width: 100%;
}


h3 {
	white-space: pre-line;
	margin-right: -10%;
	text-align: center	;
}

.vid-title {
	white-space: pre-line;
	margin-left: 2%;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 20px;
}



.links-and-contact {
	display: grid;
	grid-template-columns: 30% 70%;
}

.links {
	justify-self: center;
}

.links-list {
	list-style: none;
	padding: 0;
}

.profile-picture {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
}

.button-l {
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
}

.button-r {
	margin-left: 1%;
	margin-right: 24%;
	text-align: center;
}
